.homepage{
    flex-direction: column;
}

.templates-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-content: center;
    justify-items: center;
    gap: calc(var(--spacer) * 2) ;
}